@font-face {
    font-family: "Sora";
    src: url(fonts-sora/Sora-Light.ttf) format("truetype"),
        url(fonts-sora/Sora-Bold.ttf) format("truetype"),
        url(fonts-sora/Sora-Medium.ttf) format("truetype"),
        url(fonts-sora/Sora-Regular.ttf) format("truetype"),
        url(fonts-sora/Sora-SemiBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --md-primary-fg-color: #0059ff;
    --md-accent-fg-color: #0059ffc3;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #657aff;
    --md-accent-fg-color: #657affd2;
}

/* [data-md-color-scheme="slate"] {
    --md-hue: 240;
    /* --md-primary-fg-color: #c7c8ca; */
/* --md-primary-fg-color--light: #000c55;
    --md-primary-fg-color--dark: #0059ff; */
/* } */